* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color:black;
  }
  
  .navbar-user {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 87px;
    border-radius: 6px;
  }
  
  .navbar-user a {
    float: left;
    color: white;
     font-size: 20px;
    text-align: center;
    padding: 10px 80px;
    text-decoration: none;
  }
  
  .navbar-user a:hover {
    background-color:darkblue;
  }
  
  .viewBookingcard {
    background-color:rgb(110, 209, 243);
    box-shadow: 20px 20px 20px 20px rgba(73, 74, 75, 0.2);
    transition: 0.3s;
    width: 1350px;
    height: 1400px;
    border-radius: 10px;
    margin: 50px 87px;
    padding: 50px;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("C:/Users/Sajani Hewamanne/Desktop/IWT Assignment/download.jpg");
  
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    position: center;
    right: 0;
    margin: 20px;
    max-width: 500px;
    background-color:rgb(110, 209, 243);
    padding: 20px;
    align-items: center;
  }
  
  /* Full-width input fields */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color:lightseagreen;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
    font-size: larger;
  }
  
  .btn:hover {
    opacity: 1;
  }  


  a {
    text-decoration: none;
  }


  input[type="text"] {
    font-size: 15px; /* Adjust the font size as desired */
  }